.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.message-box {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.content-section {
    margin: 20px 0;
    text-align: center;
}

.news-section {
    width: 100%;
}
