.message-box {
    border: 2px;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 20px auto;
    font-size: 1.2em;
    box-sizing: border-box;
}

.message-box.light{
    border: solid white;
    background-color: #000000;
    color: #E5C333;
}

.message-box.dark {
    border: solid white;
    background-color: #E5C333;
    color: black;
}