:root {
    --background-color: #E5C333;
    --text-color: #000000;
    --link-color: #333333;
    --link-hover-color: #E5C333;
    --item-background-color: #000000;
    --item-border-color: #ffffff;
    --item-border-radius: 10px;
}

body.dark {
    --background-color: #000000;
    --text-color: #b48989;
    --link-color: #ffffff;
    --link-hover-color: #E5C333;
    --item-background-color: #E5C333;
    --item-border-color: #E5C333;
}

body.light {
    --background-color: #E5C333;
    --text-color: #000000;
    --link-color: #333333;
    --link-hover-color: #E5C333;
    --item-background-color: #200f0f;
    --item-border-color: #000000;
}

.newsContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-color) !important;
    color: var(--text-color);
}

.newsContainer.dark {
    background-color: #000000;
}

.newsHeader {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.newsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

.newsItem {
    margin-bottom: 20px;
    padding: 15px;
    color: var(--text-color);
    background-color: var(--item-background-color);
    border: 1px solid var(--item-border-color);
    border-radius: var(--item-border-radius);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.newsItem:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.newsItem a {
    background-color: var(--item-background-color);
    text-decoration: none;
    font-size: 1.5em;
    color: var(--text-color);
    display: block;
    margin-bottom: 10px;
    padding: 10px; /* Added padding for better visibility */
}

.newsItem a:hover {
    color: var(--link-hover-color);
    background-color: var(--background-color); /* Optional hover background color */
}

.newsItem p {
    font-size: 1em;
    color: var(--text-color);
}

.newsContent {
    background-color: #b48989;
}

.newsItem img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.innerDiv {
    background-color: #000000; /* Example color */
    padding: 10px;
    border-radius: 5px;
    color: #ffffff; /* Example text color */
}

.loading,
.error {
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
    color: var(--text-color);
}
